
<!--Section: Testimonials v.4-->
<section class="section text-center pb-4">
    
    <!--Section heading-->
   <h1 class="section-heading white-text pt-4">Community Remarks</h1>
    
    <div class="row">
 
        <!--Carousel Wrapper-->
        <mdb-carousel  class="carousel no-flex testimonial-carousel carousel-multi-item multi-animation slide wow fadeIn" [type]="'carousel-multi-item'" [animation]="'slide'">
            <!--First slide-->
            <mdb-slide>
                <!--Grid column-->
                <div class="col-md-4">

                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar">
                            <img src="/assets/images/billgates.jpg" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4>Bill Gates</h4>
                        <h6 class="black-text font-bold">Co-founder of Microsoft</h6>
                        <p class="white-text "><i class="fa fa-quote-left "></i>BlockChain is exciting because it shows how cheap it can be. It will never stop</p>

                       
                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar">
                            <img src="/assets/images/abgail.jpg" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4>Abigail Jahnson</h4>
                        <h6 class="black-text font-bold">Chief Executive Officer of Fidelity Investments</h6>
                        <p class="white-text "><i class="fa fa-quote-left"></i>Blockchain technology isn't just a more efficient way to settle securities.</p>

                       
                    </div>
                </div>
                <!--Grid column-->
                
                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar">
                            <img src="/assets/images/adam.jpg" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4>Adam Draper</h4>
                        <h6 class="black-text font-bold"> Founder & Managing Director</h6>
                        <p class="white-text "><i class="fa fa-quote-left"></i> The blockchain does one thing: It replaces third-party trust with mathematical proof that something happened.</p>
                      
                    </div>
                </div>
                <!--Grid column-->
            </mdb-slide>
            <!--/First slide-->
            <!--Second slide-->
            <mdb-slide>
                <!--Grid column-->
                <div class="col-md-4">

                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar">
                            <img src="/assets/images/fred.jpg" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4>Fred Ehrsam</h4>
                        <h6 class="black-text font-bold"> Co-founder Coinbase</h6>
                        <p class="white-text "><i class="fa fa-quote-left"></i> Everything will be tokenized and connected by a blockchain one day.</p>

                    </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar">
                            <img src="/assets/images/William.jpg" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4>William Mougayar</h4>
                        <h6 class="black-text font-bold">Advisor, Investor, Mentor to Tech Entrepreneurs</h6>
                        <p class="white-text "><i class="fa fa-quote-left"></i> The blockchain cannot be described just as a revolution.  </p>

                       
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar">
                            <img src="/assets/images/jaanTallinn.jpg" class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4>Jaan Tallinn</h4>
                        <h6 class="black-text font-bold">Skype and Kazaa co-founder</h6>
                        <p class="white-text "><i class="fa fa-quote-left"></i>  Blockchain  has made  possible for humanity to reach a consensus about a piece of data without having any authority to dictate it.</p>

                       
                    </div>
                </div>
                <!--Grid column-->
            </mdb-slide>
            <!--/Second slide-->
            
        </mdb-carousel>
        <!--Carousel Wrapper-->

    </div>

</section>
<!--/Section: Testimonials v.4-->